<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.crud.mapper.EmployeeMapper">

	<select id="findAllEmployeesOrderByEmpId" resultType="jp.co.sss.crud.entity.Employee">
		SELECT * 
		FROM Employee e
			INNER JOIN Department d ON e.dept_id = d.dept_id 
		ORDER BY e.emp_id ASC
	</select>
	
	<select id="findByEmpNameContainingOrderByEmpId" resultType="jp.co.sss.crud.entity.Employee">
		SELECT * 
		FROM Employee e
			INNER JOIN Department d ON e.dept_id = d.dept_id
		WHERE emp_name LIKE CONCAT('%', #{empName}, '%')
		ORDER BY emp_id ASC
	</select>

	<select id="findByDepartmentDeptIdOrderByEmpId" resultType="jp.co.sss.crud.entity.Employee">
		SELECT * 
		FROM Employee e
			INNER JOIN Department d ON e.dept_id = d.dept_id
		WHERE e.dept_id = #{deptId}
		ORDER BY emp_id ASC
	</select>

	<select id="findByEmpIdAndEmpPass" resultType="jp.co.sss.crud.entity.Employee">
		SELECT * 
		FROM employee e
			INNER JOIN department d ON e.dept_id = d.dept_id
		WHERE emp_id = #{empId} AND emp_pass = #{empPass}
		ORDER BY emp_id ASC
	</select>

	<select id="findByEmpId" resultType="jp.co.sss.crud.entity.Employee">
		SELECT * 
		FROM Employee e
			INNER JOIN Department d ON e.dept_id = d.dept_id
		WHERE emp_id = #{empId}
		ORDER BY emp_id ASC
	</select>


	<insert id="insert" parameterType="jp.co.sss.crud.entity.Employee" useGeneratedKeys="true" keyProperty="empId">
		INSERT INTO employee 
		(
			emp_pass,emp_name,gender,address,birthday,authority,dept_id
		) VALUES (
			#{empPass},#{empName},#{gender},#{address},#{birthday},#{authority},#{deptId}
		)
	</insert>

	<update id="update" parameterType="jp.co.sss.crud.entity.Employee">
		UPDATE Employee
		SET
			emp_pass = #{empPass},
			emp_name = #{empName},
			gender = #{gender},
			address = #{address},
			birthday = #{birthday},
			authority = #{authority},
			dept_id = #{deptId}
		WHERE emp_id = #{empId}
	</update>
	
	    <!-- 1. IDによる単一削除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM employee
        WHERE emp_id = #{empId}
    </delete>

    <!-- 2. エンティティオブジェクトによる削除
    <delete id="deleteByEntity" parameterType="com.example.entity.Employee">
        DELETE FROM employee
        WHERE id = #{id}
    </delete>
     -->

</mapper>